*{
    margin: 0;
    padding: 0;
    background-color: #9b7e46;
    text-align: center;
}
h1{
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
}
.container{
    height: 64vh;
    display: flex;
    
    justify-content: center;
    align-items: center;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    
    
}
.boc{
    height: 18vmin;
    width: 18vmin;
    background-color: #e2efde;
    border-radius: 1rem;
    font-size: 8vmin;
    border: none;
    color: #000000;
}
#reset{
    padding: 1.2rem;
    font-size: 1rem;
    background-color: #e2efde;
    color:black;
    border: none;
    border-radius: 1.2rem;
    margin: 0.8rem;
    
}
.hide{
    display: none;
}
.msg{
    color: #e2efde;
    font-size: 8vmin;
}
.new-btn{
    padding: 1rem;
    font-size: 1rem;
    background-color: #e2efde;
    color:black;
    border: none;
    border-radius: 1.2rem;

   
}
